.search-bar1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding: 10px 10px 30px 10px;
    border-radius: 5px;
}

.search-bar1 form {
    display: flex;
    align-items: center;
}

input[type="text"] {
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 5px;
    font-size: 16px;
}
.search-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    margin-top: -10px;
    width: 100%;
}
.search{
    width: 28%;
}
.category{
    width: 20%;   
}
.category form{
    width: 90%;
}
.category form select{
    width: 100%;
}

.expert{
    width: 20%;   
}
.expert form{
    width: 90%;
}
.expert form select{
    width: 100%;
}


.status23{
    width: 10%;
}


.add-subject {
    background-color: #ffc107; /* màu vàng */
    color: #fff;
    border: none;
    outline: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    border: 1px solid black;
}

button[type="submit"] {
    background-color: #ffc107; /* màu vàng */
    color: #fff;
    border: none;
    outline: none;
    padding: 8px 12px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    border: 1px solid black;
}