body{
    font-family:rubik;
    margin: 0px;
    padding: 0px;
}

.pagination {
    display: inline-block;
    margin-left: 50px auto;
    display: flex;
    justify-content: center;
}
.pagination a {
    color: black;
    font-size: 22px;
    float: left;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
}
.pagination a.active {
    background-color: rgb(93, 4, 176);
    border: 1px solid black;
    color: white;
}
.pagination a:hover:not(.active) {
    background-color: rgb(93, 4, 176);
}
.active{
    color: orange;
}
.phone-icon {
    position: fixed;
    bottom: 20px;
    right: 60px;
    background-color: #ff9800;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    z-index: 9999;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.phone-icon:hover {
    background-color: #f57c00;
}
.active{

    color: #fff;
}
#search{
    background-color: rgb(252, 251, 251);
     border-radius: 10px;
     box-shadow: 1px 2px 3px rgb(72, 68, 68);
     height: 200px;
     padding-top: 10px;
}
#search .searchkey{
    margin: 10px;
    padding: 10px; 
    border-radius: 5px;
    font-size: 15px;
    width: 93%;
    
}
#search1{
    background-color: rgb(252, 251, 251);
     border-radius: 10px;
     box-shadow: 1px 2px 3px rgb(72, 68, 68);
     height: 200px;  
     padding-top: 10px;
     margin-top: -50px;
}
#search1 .searchkey{
    margin: 10px;
    padding: 10px; 
    border-radius: 5px;
    font-size: 15px;
    width: 93%;
}
.lableSearch{
    display: block;
     background-color: rgb(93, 4, 176);                                             
     margin: 10px; 
     padding: 5px;
     color: white; 
     border-radius: 5px;
}

.submitSearch{
    display: block; 
    background-color: #f7b205;
     padding: 4px; 
     border-radius: 5px;
      border: 1px solid black;
       margin: 10px;
}
.checklimitcourse{
    margin: 50px 0px 150px 0px;
    background-color: rgb(252, 251, 251);
     border-radius: 10px;
    box-shadow: 1px 2px 3px rgb(72, 68, 68);
      height: fit-content
}
.categoryCourse{
    background-color: rgb(252, 251, 251); 
    border-radius: 10px;
    height: fit-content;
    box-shadow: 1px 2px 3px rgb(72, 68, 68); 
    margin-top: -90px; 
}
.TitleCategory{
    background-color: rgb(93, 4, 176); 
    padding: 10px; 
    color: white; 
    border-radius: 10px;
    text-align: center
}
.pricingtable-row{
    display: flex;
    justify-content: space-between;
    
}
.function{
    width: 25%;
    margin-right: 20px;
    margin-left: 20px;
    
}

.productCourse{
    width:60% ;
    background-color: #f57c00;
}
.listproduct{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: -60px;
    flex-wrap: wrap;
}
.item{
    overflow: hidden;
    border-radius: 20px;
    border: 2px solid black;
    width:26%;
    margin-right: 20px;
    margin-bottom: 20px;
    
}
.item1{
    overflow: hidden;
    border-radius: 20px;
    border: 2px solid black;
    width:26%;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
}

.item1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(220, 220, 220, 0.7);
    background-image: url("https://play-lh.googleusercontent.com/vGTDyCijxJh1Con0JiQJwPAiLvRe6MfSnB17EoFU_q9kK2gV3qgbVJ3wyhgBHYtRZw");
    background-repeat: no-repeat;
    background-size: 170px;
    background-position: top;
    z-index: 1;
  }
  .item1 .pricingtable-wrapper{
    position: relative;
    z-index: 0;
    
  }
.Dateto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fff;
}
.datefrom , .dateto{
   
    margin-left: 10px;
}
.datefrom h5{
    color: green;
}
.dateto h5{
    color: red;
}
.container1{
    border-radius: 5px;
    
    padding: 0px 30px;

}

.createDate h5{
    color: white;
    display: block;
    padding-left:20px;
    padding-top: 10px;
    text-align: center; 
}

.content{
    text-align: left;
    background-color: #f7b205;
    padding: 20px 10px;
    text-align: justify;
    display: none;
}




.dropbtn {
    background-color: rgb(93, 4, 176); 
    border-radius: 10px;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: -100px;
    
    
  }
  
  /* Style cho nội dung của drop menu */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -100px;
  }
  
  /* Style cho các mục trong drop menu */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Style khi di chuột qua các mục trong drop menu */
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  /* Hiển thị drop menu khi click vào nút */
  .show {
    display: block;
  }

#message{
    background-color: rgba(255, 166, 1, 0.2);
    color: black;
    width: 100%;
    box-sizing: border-box;
    padding:  200px 100px 100px 200px;
    text-align: center;
    align-items: center;
    margin-top: 80px;
    font-size: 50px;
    font-weight: 1000;
    height: 37%;
    
}
.support::after{
    content: "Support";
}



/* show description */
.overlay1 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Màu nền với độ mờ */
    z-index: 9999; /* Đảm bảo nằm trên các phần tử khác */
    display: none; /* Mặc định ẩn */
}

.overlay1.active {
    display: block; 
}

.overlay-content {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(93, 4, 176);
    border: 2px solid white;
    padding: 20px;
}
#closeBtn{
    padding: 10px;
    background-color: white;
    color: rgb(93, 4, 176);
    display: flex;
    display: block;
    margin: 0px auto;
    border-radius: 10px;
}
#openBtn{
    padding: 10px;
    background-color: orange;
    border: 1px solid rgb(93, 4, 176);
    border-radius: 5px;
    
}
.optionShow{
    padding: 20px;
    margin-left: 0px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
}
.optionShow .Learn{
    margin-left: 10px;
    padding: 10px ;
    background-color: orange;
    border: 1px solid rgb(93, 4, 176);
    border-radius: 5px;
}

.Process h5{
    color: white;
    display: block;
    padding-left:20px;
    padding-top: 10px;
    text-align: center; 
}
.Process{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Process div{
    background-color: #f57c00;
    color: white;
    padding: 10px;
    border-radius: 50%;
    margin-left: 10px;
}
