/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 8, 2023, 2:31:42 AM
    Author     : PCT
*/
body {
        font-family: Arial, sans-serif;
        font-size: 16px;
        color: #333;
        margin: 0;
        padding: 0;
      }

      h1 {
      display: flex;
  justify-content: center;
  align-items: center;
        font-size: 30px;
        margin-bottom: 20px;
      }

      form {
        margin: 20px;
      }

      label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
      }

      input[type="text"], input[type="date"], select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 20px;
        box-sizing: border-box;
        font-size: 16px;
      }

      select {
        height: 40px;
      }

      textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 20px;
        box-sizing: border-box;
        font-size: 16px;
        resize:none;
      }

      input[type="submit"], input[type="button"] {
        background-color: #ffc107;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
      }

      input[type="submit"]:hover, input[type="button"]:hover {
        background-color: #0056b3;
      }

      .button-container {
        display: flex;
        justify-content: space-between;
      }
      .search-bar {
            background-color: #f8f8f8;
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);

            display: flex;
            align-items: center;
        }

        .slider-details {
            flex: 1;
            display: flex;
            align-items: center;
        }

        .slider-title {
            font-weight: bold;
            margin: 0;
        }

        .slider-status {
            font-weight: bold;
            margin: 0;
            margin-left: auto;
        }

        .backlink {
            background-color: #f8f8f8;
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            font-weight: bold;
        }

        .notes {
            background-color: #f8f8f8;
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
            text-align: center;
            flex-grow: 1;
            font-weight: bold;
        }

