/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 23, 2023, 1:05:09 PM
    Author     : Naviank
*/

/*
Attempt quiz css
*/

body {
    /*overflow: hidden;*/
    padding: 0;
    margin: 0 ;
}
.page-wraper {
    width: 100%;
    /* background-color: rgb(233, 209, 233); */
}

.quiz-screen {
    width: 100%;
    /*background-color: rgb(233, 209, 233);*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quiz-pos {
    background-color: rgb(93, 4, 176);
    border: 1px solid black;
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.quiz-pos > span {
    background-color: orange;
    border: 1px solid black;
    padding: 12px;
    margin: 12px;
    display: inline-block;
}

.quiz-pos > span a{
    text-decoration: none;
    color: black;
}

.quiz-homelogo {
    /*background-color: orange;*/
    /*border: 1px solid black;*/
    /*padding: 12px;*/
    margin: 12px;
    display: inline-block;
    height: 50%;
}
.quiz-time {
    width: 172px;
}

.quiz-content {
    width: 100%;
    height: 100%;
}

.quiz-quesid {
    margin: 0px 24px;
    display: flex;
}

.quiz-quesid .number {
    background-color: rgb(222, 222, 222);
    border: 1px solid black;
    display: flex;
    width: 100%;
    /*margin: 8px 0;*/
    color: white;
    justify-content: flex-start;
    padding: 8px 24px;
    color: black;
}

.quiz-quesid .qid {
    background-color: rgb(222, 222, 222);
    border: 1px solid black;
    display: flex;
    width: 100%;
    /*margin: 8px 0;*/
    color: white;
    justify-content: flex-end;
    padding: 8px 24px;
    color: black;
}


.quiz-quesid  {
    /*margin: 8px;*/
}

.quiz-question {
    margin-left: 40px;
    font-size: 32px;
    font-weight: bold;
    font-family: sans-serif;
}

.quiz-answer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 32px 48px;
    font-size: 24px;
}

.quiz-answer li {
    list-style: none;
    font-size: 24px;

}

.quiz-answer .answer {
    margin: 4px 0;
    padding: 4px 0;
    font-size: 24px;
}

.correct{
    color: green;
}

.incorrect {
    color: red;
}

.quiz-nav {
    padding: 12px;
    background-color: rgb(222, 222, 222);
    margin: 12px 24px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.quiz-nav .quiz-move {
    width: 180px;
}
.quiz-nav .quiz-move button {
    background-color: orange;
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px 8px;
    font-size: 20px;
}
.quiz-nav .quiz-review {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
    align-items: center;
    /*    display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto auto ;
        column-gap: 8px;*/
}
.quiz-nav .quiz-review .btn-type1 {
    height: 20px;
    /*width: 24px;*/
    width: calc(10% - 20px);
    margin: 2px;
    background-color: greenyellow;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 12px;
    padding: 1px;
    text-align: center;
    line-height: 16px;
}
.quiz-nav .quiz-review .btn-type2 {
    height: 20px;
    /*width: 24px;*/
    width: calc(10% - 20px);
    margin: 2px;
    background-color: orange;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 12px;
    padding: 1px;
    text-align: center;
    line-height: 16px;
}
.quiz-nav .quiz-util {
    width: fit-content;
}
.quiz-nav .quiz-util button{
    background-color: orange;
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px 8px;
    font-size: 20px;
}


.nanana, .nana {
    display: none;
}
/*
    Quiz review page start
*/
.page-wraper{

}

.review-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 40px;
}

.review-title span:first-child{
    font-size: 40px;
    font-weight: 400;
    color: black;
}
.review-title span:nth-child(2){
    font-size: 32px;
    font-weight: 300;
    color: black;
}

.review-title span:last-child{
    font-size: 24px;
    font-weight: 200;
    color: black;
}
.review-body{
    /*background-color: rgb(250, 250, 250);*/
}
.review-filter button{
    background-color: orange;
    border-radius: 4px;
    padding:  2px 4px;
    margin: 4px;
}
.review-content {
    margin-top: 20px;
}
.review-info{
    width: 40%;
    margin-left: 20%;
}

.review-info table {
    border-collapse: collapse;
}

.review-info th{
    width: 200px;
    text-align: right;
    padding: 0 4px;
    background-color: rgb(222, 222, 222);
}
.review-info td{
    width: 400px;
    text-align: left;
    padding: 0 4px;

}
.review-board{
    font-size: 20px;
    margin: 20px 0;
}
.review-board th {
    padding: 0 8px;
    text-align: center;
    color: black;
}
.review-board td {
    padding: 0 8px;
    text-align: center;
    color: black;
}

.btn-attempt{
    margin: 20px;
}
.btn-attempt button{
    background-color: orange;
    border-radius: 4px;
    padding:  2px 4px;
    margin: 4px;
}
review-item {
    text-align: right
}
review-item b{
    font-size: 48px;
}
.review-question{
    margin: 10px;
    font-size: 24px;
}
.review-answer{
    font-size: 20px;
}
.review-answer li{
    list-style: none;
}
.review-desc {
    background-color: orange;
    color: white;
    padding: 4px 8px;
    margin: 8px;
}
.real-nav {
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.navi-number {
}
.rv-corr{
    background-color: rgb(100, 200, 5);
    border: 1px solid black;
    margin: 2px;
    padding: 2px;
    width: 24px;

}
.rv-incorr{
    background-color: rgb(247, 70, 70);
    border: 1px solid black;
    margin: 2px;
    padding: 2px;
    width: 24px;

}

.attemptquiz a{
    margin: 0 20px;
    text-decoration: underline;
}
.attemptquiz a:hover{
    text-decoration: underline red;
    color: red;
}
review-item .ques-number {
    font-size: 12px;
}
.rv-od{
    width: 5%;
}
.rv-at{
    width: 15%;
}
.rv-at a{
    color: rgb(93, 4, 176);
}
.rv-tm{
    width: 40%;
}
.rv-dr{
    width: 20%;
}
.rv-gr{
    width: 10%;
}


/*
    Quiz review page end
*/


/*Quiz lesson page css*/

.pg-wraper{

}
.q-lessoninfo{
    margin-top: 20px;
    margin-left: 25%;
    width: 50%;
    border: 2px solid black;
    border-radius: 12px;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    font-family: sans-serif;
    background-color: orange;
}
.q-lessoninfo span{
    /* width: fit-content; */
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    font-family: sans-serif;
}

.q-container{

}

#q-guide{
    margin: 0;
    padding: 40px 0 0 0;
    text-align: center;
    font-size: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.q-box{
    /* display: inline-block; */
    text-align: center;

}
.q-items{
    background-color: rgb(222, 222, 222);
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 40px;
    display: inline-block;
    padding: 12px;
    border: 2px solid black;
    border-radius: 4px;
    width: 320px;
    /*color: white;*/
}
.q-items label{
    border: 2px solid black;
    border-radius: 4px;
    padding: 4px;
    /*background-color: rgb(93, 4, 176);*/
    background-color: orange;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.q-info{

}
.q-btn{
    display: flex;
    justify-content: space-between;
}
.q-btn button{
    background-color: orange;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 140px;
    padding: 4px;
    border-radius: 4px;
}

#cfsubmit {
    text-align: center;
}
#cfsubmit button{
    background-color: rgb(240, 165, 240);
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 140px;
    padding: 4px;
    border-radius: 4px;
}
